/[Lb]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Mm]emoryCaptures/
/[Ex]ternalBuildTargets/
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.svd
/*.pdb
/*.opendb
/*.VC.db
/[Cc]rash[[Rr]eports]/
/[Ll]ogs/
/[Uu]nityConfiguration.gen.json
/UserSettings/
/Recordings/
.DS_Store
Thumbs.db
